/* IMPORT Noto Sans Khojki Font Family */
@import url('https://fonts.cdnfonts.com/css/el-salvador01');

/*  */
@import url('https://fonts.cdnfonts.com/css/neck-l-sans');

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* _BODY */
body{
    background-color: var(--WhiteSmoke-color);

    height: 100vh;

    font-family: 'Plus Jakarta Sans', sans-serif;
}